<!DOCTYPE html>
<html>
  <head>
    <title>welcome page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <header>
      <section class="nav-bar">
        <strong> Home </strong>
        <div>
          <a href="users/login">
            <button>Login</button>
          </a>
          <a href="users/register">
            <button>register</button>
          </a>
        </div>
      </section>
    </header>
  </body>
</html>
